[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lintpy = "pylint ./**/*.py"
lintnb = "nbqa pylint . --ignore=E501"

[packages]
scikit-learn = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
statsmodels = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pingouin = "*"
seaborn = "*"
ipykernel = "*"
numpy = "*"
gradio = "*"
streamlit = "*"
requests = "*"
plotly = "*"
nbformat = "*"
optuna = "*"
ipywidgets = "*"
sweetviz = "*"
flask = "*"
flask-pydantic = "*"
pyarrow = "*"
ppscore = "*"
setuptools = "*"
shap = "*"

[dev-packages]
pylint = "*"
nbqa = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
